.like {
    padding: 1rem;
    align-items: center;
    justify-self: center;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    overflow: hidden;
    border: 0.4px solid #192b1c;
    flex: 1;
    background:  white;
    
    .heart {
        display: flex;
        align-items: center;

        svg {
            font-size: 1.5rem;
            margin-left: 5px;
            margin-right: 5px;
            color: #192b1c;
        }
        .liked {
            cursor: pointer;
            svg {
                color: rgb(184, 0, 0);
            }
        }
        .unliked {
            cursor: pointer;
            svg{
                color: black;
            }
        }
        .comment-button{
            background: #192b1c;
            cursor: pointer;
            svg{
                color:white
            }
        }
    }
}

svg {
    font-size: 1.5rem;
}