@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);

.post {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 6rem;
    border-radius: 4px;
    overflow: hidden;
    border: 0.4px solid #192b1c;
}

.post-header {
    background: #002e0f;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 70px;
    border: 1px solid #002e0f;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.post-body{
    background: #fafafa;
    color: black;
    padding: 0px 15px 0px 15px ;
}

p {
    text-indent: 10px;
    line-height: 30px;
    font-family: 'KoPub Batang', serif;;
}